body {font-family: 'Open Sans', sans-serif;
    color: white;
}
#navmargin {margin-left: 9%;
    margin-right: 9%;
}
.bg-celeste {
    background-color: #25a3b7;
}
hr.celeste {
 border-top: 4px solid #25a3b7;
}
.banner {
    max-height: 500px;
    object-fit: cover;
}
.banner2 {
    max-height: 500px;
    object-fit: cover;
    object-position: center top;
}
.card-img-top {
    aspect-ratio: 16 / 9;
    object-fit: cover;
}
html {
    scroll-behavior: smooth;
  }

