body {font-family: 'Open Sans', sans-serif;
    color: white;
}
#navmargin {margin-left: 9%;
    margin-right: 9%;
}
.bg-celeste {
    background-color: #25a3b7;
}
hr.celeste {
 border-top: 4px solid #25a3b7;
}