body {font-family: 'Cabin';
}
#navmargin {margin-left: 9%;
    margin-right: 9%;
}
.logo {font-family: 'Lobster';
}
section {margin-left: 10%;
    margin-right: 10%;
}
.carrusel {
    padding-top: 2rem;
    padding-bottom: 4rem;
}
.carousel-indicators {top: 10rem;
}
aside {margin-left: 9.2%;
    margin-right: 9.2%;
}
.tooltip > .tooltip-inner {
    background-color: #3b3d3f;
}
.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: #3b3d3f;
  }

.tooltip.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: #3b3d3f;
  }
.card-footer {border-top-color: blueviolet;
}
.raya {margin-left: 10%;
    margin-right: 10%;
}
.boton {width: 7.2rem;

}
